[Unit]
Description=API Manager Web Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/ubuntu/api-server/start.sh

[Install]
WantedBy=multi-user.target
